.LandingBackground{
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    max-height: 550px;
}

.LandingBackgroundImage{
    z-index: 0;
    width: 100%;
}

.LandingBackgroundMask{
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgb(12, 12, 12));
    position: absolute;
    z-index: 24;
}

.LandingBackgroundText{
    position: absolute;
    font-size: 40px;
    top:5%;
    left: 5%;
}

@media only screen and (max-width:600px) {
    .LandingBackground{
        width: 100%;
        height: 600px;
        overflow: hidden;
        z-index: 0;
        position: relative;
    }
    
    .LandingBackgroundImage{
        z-index: 0;
        flex-shrink: 0;
        height: 100%;
        width: auto;
        left: -30%;
        position:absolute;
    }
    
    .LandingBackgroundMask{
        width: 100%;
        height: 30%;
        bottom: 0;
        background: linear-gradient(to bottom, transparent, rgb(12, 12, 12));
        position: absolute;
        z-index: 24;
    }
    
    .LandingBackgroundText{
        position: absolute;
        font-size: 40px;
        top:5%;
        left: 5%;
    }
}