.NavButton{
    width: 100%; 
    background-Color: #032927;
    display:flex;
    justify-Content: center;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.329);
    z-index: 20;
    cursor:"pointer";
}


.NavButton h1{
    pointer-events: none;
}

.NavbarList{
    width: 80%;
}

.Navbar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navbar li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative; 
    padding: 5px;
    width: fit-content;
    transition: 0.5s ease;
    cursor: pointer;
}

.Navbar li:hover{
    transform: translateX(20px);
}

.Navbar li::before {
    content: "";
    background-color: rgba(209, 13, 23, 0.103);
    border-radius: 20px;
    height: 5px;
    width: 0%;
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: 0.5s ease;
}

.Navbar li:hover::before {
    background-color: rgb(255, 0, 0);
    width: 100%;
}

