.NavButton{
    width: 100%; 
    display:flex;
    justify-Content: center;
    z-index: 20;
    height: 70px;
    cursor:"pointer";
}


.NavButton h1{
    pointer-events: none;
}

.NavbarList{
    width: 80%;
    cursor:auto;
}

.Navbar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navbar li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative; 
    padding: 5px;
    width: fit-content;
    transition: 0.5s ease;
    cursor: pointer;
}

.Navbar li:hover{
    transform: translateX(20px);
}

.Navbar li::before {
    content: "";
    border-radius: 20px;
    height: 5px;
    width: 0%;
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: 0.5s ease;
}

.Navbar li:hover::before {
    background-color: rgb(255, 0, 0);
    width: 100%;
}

