.RatingsContainter{
    width: 100%;
    height: 400px;
    background-color: #032F30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rating{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    pointer-events: none;
}

.Rating h1 {
    margin: 0;
}

.RatingContent{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.RatingImage{
    width: 200px;
    filter:saturate(0.8) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3))
}

.RatingContentMain{
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.RatingContentRating{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.RatingButton:nth-child(11){
    left: 0%;
    width: 10%;
}

.RatingButton:nth-child(1){
    left: 90%;
    width: 10%;
}

.RatingButton{
    position: absolute;
    height: 80%;
    width: 5%;
    z-index: 2;
    color:rgb(255, 208, 77);
    background-color: rgba(128, 128, 128, 0);
    filter:drop-shadow(0px 2px 2px black);
    border: none;
    font-weight: 900;
    scale: 2;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s ease;
    font-family:fantasy;
}

.RatingButton:hover{
    scale: 3;
    color:rgb(255, 174, 0);
}

.RatingContainer{

    width: 100%;
    max-width: 500px;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.Media{

    width: 35px;
}

h5{
    width: 33%;
    font-size: 20px;
   
}