.root {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none; 
  background-color: var(--MainColor);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;

}

body, html {
  --MainColor: #0f1421;
  --AccentColor: #295d8e;;
  --SecondAccentColor: #234578;
  --NavbarDropDownColor: #172c4c;
  background-Color: var(--AccentColor);
  margin: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.main {
  width: 90%;
}