.root {
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  font-synthesis: none; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;

}

body, html {
  --AccentColor: #363636a8;;
  --SecondAccentColor: #151515;
  --NavbarDropDownColor: #161616;
  background-Color:rgb(12, 12, 12);
  margin: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.main {
  width: 90%;
}